.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 60%);
  min-height: 74px;
}

.header__logo {
  max-width: 173px;
}

@media screen and (max-width: 775px) {
  .header__logo {
    max-width: 126px;
  }
}

@media screen and (max-width: 635px) {
  .header {
    max-width: 320px;
    margin-top: 28px;
    min-height: 32px;
  }
  .header__logo {
    margin-left: 27px;
    margin-bottom: 32px;
  }
}
