.popup__error {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  position: absolute;
  top: 135px;
  transition: opasity 0.3s;
}

.popup__error-lower {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  position: absolute;
  top: 205px;
  transition: opasity 0.3s;
}

.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__button_disabled {
  background-color: grey;
  border: 1px solid gray;
}

.popup__button_disabled:hover {
  cursor: auto;
}

.popup__button_disabled .modal__saved {
  color: white;
}
